
.container
  h2 Курсы валют за месяц
  #rates

  - if @columns.present?
    ruby:
      js_graph = graph_generate('rates',
        data: {
          x: 'x',
          columns: @columns
        },
        axis: {
          x: {
              type: 'timeseries',
              tick: {
                  format: '%Y-%m-%d'
              }
          }
        }
      )

    = javascript_tag
      = js_graph

  - else
    | Нет данных
